<div class="social-bar top">
	<div class="wrap ">
		<ul>		
			<li class="fb facebook-share">
				<div class="wrap">
					<div class="ico-font"><div class="gloss"></div></div>
					<a class="cell fbLink facebook-share" href="http://www.facebook.com/sharer.php?u={{encodedURL}}" title="Share on Facebook" target="_blank">
						<span class="label">Share Article on Facebook</span>
					</a>
				</div>
			</li>
			<li class="tw twitter-share">
				<div class="wrap">
					<div class="ico-font"><div class="gloss"></div></div>
					<a class="cell twLink twitter-share" href="https://twitter.com/share?text={{encodedTitle}}&amp;url={{encodedURL}}" title="Share on Twitter" target="_blank">
						<span class="label">Share Article on Twitter</span>
					</a>
				</div>
			</li>	
		</ul>
	</div>
</div>