/* Child CSS */
header {
	padding: 20px;
	color: #fff;
	font-size: 1.8em;
	background: #073277;
	font-family: 'Bowlby One SC', cursive;
}
header .site-logo {
	width: 70%;
	max-width: 500px;
}
header .settings-icon {
	position: absolute;
	top: 27px;
	right: 20px;
	width: 40px;
	cursor: pointer;
}
header .add-icon {
	position: absolute;
	top: 0px;
	right: 90px;
	font-size: 2em;
	cursor: pointer;
}
.addUserForm input {
	font-size: 1em;
	padding: 5px;
	margin-bottom: 10px;
	width: calc(100% - 10px);
}
/*Add New User Modal*/
.add-new-user-btn {
	background: #073277;
	font-size: 1em;
	padding: 10px;
	color: #fff;
	cursor: pointer;
}