<div id="grav-confirmation"></div>
<div class="gravitywall-wrap">
	{{imagetemplate}}
	<div class="tag-line">
		<div class="tag-wrap">{{tagline}}</div>
	</div>
	<div class="gravity-wall-wrap" data-lead="{{lead-count}}" data-formid="{{form-id}}" data-features="{{send-features}}" data-sharemessage="{{sharemessage}}"><img class="preloader" src="{{preloader}}" /></div>
	<div class="clear"></div>
	<div class="btn-wrap">
		<span class="show-form-btn primary-active-color">{{button-text}}</span>
	</div>
	<div class="g-form-top"></div>
	<div class="grav-form-wrap">{{gravity-form}}</div>
	<br />
</div>